@media(max-width: 950px) {
   .container{
      padding: 0; 
   }
   .info {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0;
   }
   .info > div {
      width: 100%;
   }
   .info .images {
      height: 56vh;
      visibility: hidden;
   }
   .info .slide-show {
      display: none; 
   }
   nav {
      padding: 10px 25px;
      border: none;
      margin: 0;
      gap: 20px; 
   }
   nav .toggle-menu {
      display: flex;
   }
   nav .hidden-ul{
      height: 56vh;
      position: absolute;
      z-index: 4;
      width: 100%;
      display: block;
      top: 55px;
      left: 0;
      background: rgb( 0 0 0 / 60%);
      visibility: hidden;
   }
   nav .hidden-ul ul{
      display: block;
      height: 100%;
      width: 50%;
   }
   nav .hidden-ul li {
      padding: 18px 30px;
   }
   nav .avatar img {
      width: 30px;
      height: 30px;
   }
   .info .text {
      padding: 25px;
   }
   .info .text .price {
      display: flex;
      justify-content: space-between;
   }
   .info .text .cart {
      display: flex;
      flex-direction: column;
   }
   .overleay {
      height: 56vh;
      top: 55px;
      background: none;
      visibility: visible;
   }
   .overleay span {
      display: none;
   }
   .overleay .slide-flow {
      height: 100%;
      border-radius: 0;
      box-shadow: none;
   }
   .overleay .images {
      width: 100%;
      height: 100%;
      margin: 0;
   }
   .overleay ul {
      display: none;
   }
   .overleay .control {
      width: 95%;
   }
}
@media(max-width: 590px) {
   nav .hidden-ul ul {
      width: 100%;
      text-align: center;
   }
}